@import "card.css";
@import "bio.css";
@import "body.css";

.container {
  display: grid;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd sd mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft";
  background: #00529C linear-gradient(
    -64deg,
    #E71A39 20%,
    transparent 20%
  );
  color: white;
  background-size: 100%;
}

.container a:link {
  color: orangered;
}

.container a:visited {
  color: dimgrey;
}

.header {
  grid-area: hd;
  color: orangered;
  font-size: xxx-large;
}

.footer {
  grid-area: ft;
}

.flex-share {
  display: flex;
  flex-direction: row;
}

.flex-share img {
  width: 32px;
  padding: 5px;
}

.home {
  position: absolute;
  right: 8px;
  color: orangered;
}

.home a:link {
  color: orangered;
  text-decoration: none;
}

.home a:visited {
  color: orangered;
  text-decoration: none;
}

