.container {
  display: grid;
  grid-template-areas:
    "hd hd hd hd hd hd hd hd"
    "sd sd sd mn mn mn mn mn"
    "ft ft ft ft ft ft ft ft";
  background: #00529C linear-gradient(
    -64deg,
    #E71A39 20%,
    transparent 20%
  );
  color: white;
  background-size: 100%;
}

.container a:link {
  color: orangered;
}

.container a:visited {
  color: dimgrey;
}

.header {
  grid-area: hd;
  color: orangered;
  font-size: xxx-large;
}

.side {
  color: orangered;
  grid-area: sd;
}

.side .author {
}

.side .title {
}

.side .org {
}

.side .bio {
  color: white;
}

.avatar {
  width: 125px;
  margin: 10px;
}

.body {
  grid-area: mn;
}

.body h3 {
  color: orangered;
  font-style: italic;
}

.body img {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.body figcaption {
  font-style: italic;
  text-align: center;
}

.card {
  grid-area: mn;
  background: #00529C linear-gradient(
    -64deg,
    #E71A39 20%,
    transparent 20%
  );
  box-shadow: 5px 5px 5px 5px #000;
  width: 30%;
  grid-template-areas:
    "hd"
    "ic"
    "bt";
}

.card img {
  grid-area: ic;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.card h3 {
  color: orangered;
}

.card h2 {
  color: orangered;
  font-style: italic;
}

.footer {
  grid-area: ft;
}

.card button {
  grid-area: bt;
  background: dimgrey;
  color: orangered;
  font-style: italic;
  font-size: x-large;
  width: 100%;
  padding: 20px;
}

.flex-bio {
  display: flex;
  flex-direction: column;
}

.flex-share {
  display: flex;
  flex-direction: row;
}

.flex-share img {
  width: 32px;
  padding: 5px;
}



