<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="styles/resets.css">
        <link rel="stylesheet" href="styles/base.css">
        <link rel="stylesheet" href="styles/header.css">
        <link rel="stylesheet" href="styles/form.css">
        <link rel="stylesheet" href="styles/footer.css">
    </head>

    <body>

        <header>
            <div class="logo" id="Logo">
                <img src='/logo' alt="Logo"/>
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <label for="date">Travel date:</label>
                    <input type="date" id="date" name="date">
                    <br>
                    <label for="name">Destination:</label>
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)">
                </form>
            </section>
            <section>
                <strong>Form Results:</strong>
                <div id="wthr"></div>
                <div id="pixa"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            if ('serviceWorker' in navigator) {
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }
        </script>
    </body>
</html>
